#
#  Copyright (c) https://github.com/gOOvER/own-pterodactyl-images/blob/main/LICENSE
#

name: build python

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: "0 0 15 * *"
  push:
    paths:
      - python/**

env:
  GH_TOKEN: ${{secrets.GH_TOKEN}}

jobs:
  push:
    name: "python:${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - 2_7
          - 3_7
          - 3_8
          - 3_9
          - 3_10
          - 3_11

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: ./python
          file: ./python/${{ matrix.tag }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/python:${{ matrix.tag }}
